/* ======== rows ========== */
.row {
  color: white;
  margin-left: 20px;
}

.row-posters {
  display: flex;
  overflow-y: hidden; /* axis properties for movement of large datasets */
  overflow-x: scroll;
  padding: 20px;
}
.row-posters::-webkit-scrollbar {
  display: none; /* delete scrollbar */
}

.row-poster {
  object-fit: contain;
  width: 100%;
  max-height: 100px;
  margin-right: 10px;
  transition: transform 450ms; /* speed of poseter size change */
}
.row-poster:hover {
  transform: scale(1.08);
  opacity: 1;
}

.row-posterLarge {
  max-height: 250px;
}
.row-posterLarge:hover {
  transform: scale(1.09);
}
